.products {
  width: 100%;
  height: 100vh;
}

.paddingH2 {
  padding: 36px 0;
}

.padding-texts {
  padding: 0 0 4px 0;
}

.size-16px {
  font-size: 16px;
}

.container-p {
  padding: 0 16px 0 0;
}

.paddingH3-p {
  padding: 18px 0 0 10px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 45px; /* espaçamento entre os cards */
  padding: 30px;
}

/*CARDS*/

.card-products {
  width: 290px;
  height: 314px;
  background-color: #fff;
  border: #275560 0.5px solid;
  border-radius: 5px;
  overflow: hidden; /* Evita que conteúdo saia do card */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
  transform: scale(1);
}

.card-products:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
}

/*RESPONSIVIDADE*/

@media screen and (max-width: 1000px) {
  .products {
    height: 110vh;
  }

  .card-products {
    width: 190px;
    height: 214px;
    display: flex;
    flex-direction: column;
  }

  .card-products h3 {
    font-size: 14px;
  }

  .card-products p {
    font-size: 10px;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .paddingH3-p {
    padding: 10px 0 0 10px;
  }

  .container-p {
    padding: 0 14px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .products {
    height: 175vh;
  }

  .card-products {
    width: 200px;
    height: 224px;
    display: flex;
    flex-direction: column;
  }

  .products h2 {
    font-size: 32px;
  }

  .products p {
    font-size: 14px;
  }

  .card-products h3 {
    font-size: 14px;
  }

  .card-products p {
    font-size: 11px;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px; /* espaçamento entre os cards */
    padding: 20px;
  }
}

@media screen and (max-width: 350px) {
  .products {
    height: 185vh;
  }

  .products h2 {
    font-size: 28px;
  }
}
