* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

html{
    scroll-behavior: smooth
}

a{
    text-decoration: none;
    color: inherit;
}


/*FONTE IMPORTADAS*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');